<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/context
            http://www.springframework.org/schema/context/spring-context.xsd">


<!--
    &lt;!&ndash; Prend en compte la configuration des injections (@Inject...) &ndash;&gt;
    <context:annotation-config/>

    &lt;!&ndash; Scanne les packages pour trouver les beans qui se déclarent (@Named...) &ndash;&gt;
    <context:component-scan base-package="com.opc.projet.gestionbiblio"/>
-->



<!--
    &lt;!&ndash; ===== Déclaration des Managers ===== &ndash;&gt;
    <bean id="exemplaireManager" class="com.opc.projet.gestionbiblio.business.impl.manager.ExemplaireManagerImpl"/>
    <bean id="ouvrageManager" class="com.opc.projet.gestionbiblio.business.impl.manager.OuvrageManagerImpl"/>
    <bean id="adresseManager" class="com.opc.projet.gestionbiblio.business.impl.manager.AdresseManagerImpl"/>

    &lt;!&ndash; ===== ManagerFactoryImpl ===== &ndash;&gt;
    <bean id="managerFactory" class="com.opc.projet.gestionbiblio.business.impl.ManagerFactoryImpl">
        <property name="exemplaireManager" ref="exemplaireManager"/>
        <property name="ouvrageManager" ref="ouvrageManager"/>
        <property name="adresseManager" ref="adresseManager"/>
    </bean>
-->

    <bean id="managerFactory" class="com.opc.projet.gestionbiblio.business.impl.ManagerFactoryImpl" />
    <!-- ==== AbstractResource ===== -->
    <bean class="org.springframework.beans.factory.config.MethodInvokingFactoryBean">
        <property name="targetClass" value="com.opc.projet.gestionbiblio.webapp.rest.resource.AbstractResource"/>
        <property name="targetMethod" value="setManagerFactory"/>
        <property name="arguments" ref="managerFactory"/>
    </bean>

</beans>