<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <nav class="navbar navbar-inverse no-margin-bottom" th:fragment="nav">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/}">SDGDB</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a th:href="@{/libraries}">Bibliothèques</a></li>
                <li><a th:href="@{/employees}">Employés</a></li>
                <li><a th:href="@{/users}">Utilisateurs</a></li>
                <li><a th:href="@{/members}">Membres</a></li>
                <li><a th:href="@{/addresses}">Addresses</a></li>
                <li><a th:href="@{/authors}">Auteurs</a></li>
                <li><a th:href="@{/books}">Livres</a></li>
                <li><a th:href="@{/copies}">Exemplaires</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

</html>